html,
body {
    margin: 0;
    padding: 0;
}

.wealth input[type = number] {
  display: none;
}

.wealth .editing input[type = number] {
  display: block;
}

.wealth label {
  display: block;
}

.wealth .editing label {
  display: none;
}
